[user]
	name = Thanh Ha
	email = zxiiro@gmail.com
	signingkey = 616E3180
[commit]
	gpgsign = true
[gitreview]
	username = zxiiro
[pull]
	rebase = true
[includeIf "gitdir:~/src/github.com/mntv-**/"]
	path = .gitconfig-momentive
[includeIf "gitdir:~/src/surveymonkey/"]
	path = .gitconfig-momentive
[pager]
	branch = false
[merge]
	tool = smerge
[core]
	editor = subl -n -w
